/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
html{
	border: 0;
	padding: 0;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	min-height: 700px;
	min-width: 1200px;
}
.left_nav{
	float: left;
	width: 240px;
	height: 100%;
	background-color: #3abfb5;
	position: relative;
	box-shadow: 5px 5px 5px #ccc;
}
.home_box{
	width: 90%;
	height: 40px;
	position: absolute;
	bottom: 10%;
	left: 5%;
	font-size: 15px;
}
.home_box a{
	color: white;
	text-decoration: none;
}
.home_img,.home_text{
	margin-left: 5px;
	float: left;
}
.home_text{
	cursor: pointer;
}
.home_text a:hover{
	color:#216863;
}
.left_icon,.right_icon{
	color: white;
	width:50%;
	height: 30px;
	float: left;
}
.logo{
	width: 100%;
	height: 18%;
	text-align: center;
	border-bottom: 1px solid #ebeded;
}
.logo img{
	margin: auto;
	margin-top: 20%;
}
.nav_ul{
	height: 30%;
}
.nav_ul li{
	color: white;
	height: 16.5%;
	min-height: 38px;
	border-bottom: 1px solid #EBEDED;
	display: block;
	position: relative;
	cursor: pointer;
}
.nav_ul li a{
	color: white;
	display: block;
	width: 100%;
	height: 100%;
}
.icon_box img{
	position: absolute;
	top: 25%;
	left: 10%;
}
.icon_text{
	position: absolute;
	top: 25%;
	left: 23%;
	font-size: 14px;
}
.active{
	background-color: white;
}
.active a{
	background-color: white;
	color: #3abfb5 !important;
}
.right_content{
	float: left;
	height: 100%;
	position: relative;
}
.content_box{
	border: 1px solid #3abfb5;
	width: 49%;
	position: absolute;
	top: 10%;
	left: 30%;
	height: 70%;
	background-color: white;
	border-radius: 11px;
	min-width: 380px;
	box-shadow: 8px 8px 5px #ccc;
}
.top_portrait{
	width: 100%;
	height: 40%;
}
.portrait_img{
	width: 100%;
	height: 80%;
	background-color: #3abfb5;
	position: relative;
	border-radius: 10px 10px 0 0;

}
.portrait_title{
	width: 100%;
	height: 30%;
	color: white;
	font-size: 1.2em;
	font-family: 微软雅黑;
	text-align: center;
	background-color: #3abfb5;
}
.img_border{
	height: 80%;
	position: absolute;
	top: 10%;
	left: 50%;
	background-color: aquamarine;
	border-radius: 50%;
	border: 1px solid #3abfb5;
}
.img_border img{
	width: 100%;
}
.centent_text{
	height: 50%;
	margin-top: 7%;
	width: 80%;
	margin-left: 15%;
	font-size: 16px;
}
.text_box{
	width: 100%;
	height: 12%;
}
.text1{
	float: left;
	width: 80px;
	height: 100%;
}
.text2{
	float: left;
	width: 65%;
	height: 100%;

}
.cotnet_title{
	width: 100%;
	height: 20%;
}
.cotnet_input{
	width: 100%;
	height: 50%;
}
.cotnet_btn{
	width: 100%;
	height: 25%;
}
.title_font{
	font-size: 25px;
	color: #585a5a;
	text-align: center;
	margin-top: 12%;
}
.input_box1,.input_box2,.input_box3{
	width: 70%;
	height: 15%;
	font-size: 17px;
	color: #585a5a;
	margin-left: 15%;

}
.select_btn,.select_down,.select_text{
	float: left;
	height: 21px;
}
.select_btn{
	width: 10%;
	position: relative;
}
.select_btn input{
	cursor: pointer;
	width: 73%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.select_text{
	font-size: 16px;
}
.select_down{
	width: 25%;
}
.select_down select{
	color: #8c8e8e;
	width: 100%;
}
.sel_active{
	border: 1px solid #45e0d4;
	outline: none;
}
.select_down{
	margin-left: 5%;
}
.pay_btn{
	width: 60%;
	margin-left: 20%;
	height: 35px;
}
.pay_btn input{
	border: 1px solid #45e0d4;
	width: 100%;
	height: 100%;
	background-color: #45e0d4;
	font-size: 16px;
	color: white;
	border-radius: 5px;
	cursor: pointer;

}
.pay_btn input:hover{
	background-color: #3abfb5;
}
.max_box{
	width: 90%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 5%;
}
.left_box{
	width: 50%;
	height: 100%;
	float: left;
}
.right_box{
	width: 45%;
	height: 100%;
	float: right;
}
.lefttop_box{
	border: 1px solid #3abfb5;
	width: 100%;
	height: 70%;
	border-radius: 10px;
	position: relative;
}
.leftbottom_box{
	border: 1px solid #3abfb5;
	width: 49%;
	height: 25%;
	margin-top: 5%;
	border-radius: 10px;
	color: #404444;
	float: left;
}
.rightbottom_box{
	border: 1px solid #3abfb5;
	width: 49%;
	height: 25%;
	margin-top: 5%;
	border-radius: 10px;
	color: #404444;
	float: right;
}
.lefttop_box2{
	border: 1px solid #3abfb5;
	width: 100%;
	height: 60%;
	border-radius: 10px;
	position: relative;
}
.administer_box{
	width: 80%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 10%;
}
.administer_top{
	width:100%;
	height: 10%;
	position: relative;
}
.administer_middle{
	width:100%;
	height: 55%;
	margin-top: 5%;
	overflow: auto;
}
.toptitle_box{
	width: 50%;
	height: 80%;
	position: absolute;
	color: #404444;
	font-size: 17px;
	cursor: pointer;
	border-bottom: 1px solid #58e7dd;
}
.administer_img{
	float: left;
	width: 23%;
	margin-top: 2%;
	margin-right: 2%;
	position: relative;
}
.administer_img img{
	width: 100%;
	height: 100%;
}

.administer_bottom{
	border-top: 2px solid #58e7dd;
	width:100%;
	height: 30%;
}
.leftbottom_box2{
	border: 1px solid #3abfb5;
	width: 100%;
	height: 35%;
	margin-top: 5%;
	border-radius: 10px;
	color: #404444;
}
.administer_upload{
	width: 80%;
	height: 94%;
	position: absolute;
	left:5%;
	top: 3%;
}
.administer_imgbg{
	height:60%;
	background-color: #58e7dd;
	border-radius: 15px;
	position: relative;
}
.administer_imgbox{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
}
.administer_imgbox img{
	width: 100%;
	height: 100%;
}
.contrast_btn{
	border: 1px solid #58e7dd;
	width: 30%;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #58e7dd;
	text-align: center;
	margin-top: 3%;
	position: relative;
}
.contrast_btn2{
	border: 1px solid #58e7dd;
	width: 30%;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #58e7dd;
	text-align: center;
	margin-top: 5%;
	position: relative;
}
.contrast_file{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
	opacity: 0;
}
.contrast_file2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
	opacity: 0;
}
.upload_text {
	margin-top:3%;
	width: 80%;
	height: 30px;
}
.upload_text2 {
	margin-top:5%;
	width: 80%;
	height: 30px;
}
.upload_mintext {
	width: 70%;
	height: 30px;
	border: 1px solid #58e7dd;
	float: left;
}
.upload_mintext2 {
	width: 70%;
	height: 30px;
	border: 1px solid #58e7dd;
	float: left;
}
.detect_btn {
	float: left;
	width: 24%;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #58e7dd;
	text-align: center;
	color: #58e7dd;
	cursor: pointer;
}
.detect_btn2 {
	float: left;
	width: 24%;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #58e7dd;
	text-align: center;
	color: #58e7dd;
	cursor: pointer;
}
.detect_minimg {
	margin-top: 4%;
	width: 100%;
}
.detect_fiveimg {
	float: left;
	width: 16%;
	margin-right: 1%;
	cursor: pointer;
}
.detect_fiveimg img {
	width: 100%;
	border: 1px solid #58e7dd;
}
.img_active{
	border: 1px solid #000000 !important;
}
.results_box{
	border-bottom: 1px solid #58e7dd;
	width: 50%;
	margin-left:7%;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
}

.results_centent{
	width: 86%;
	height: 60%;
	margin-left: 7%;
	margin-top: 5%;
	font-size: 15px;
}
.results_minimg{
	width: 40%;
	margin-right: 5%;
	margin-top: 5%;
	float: left;

}
.results_minimg img{
	width: 100%;
	height: 100%;
}
.leftbottom_box .results_centent,.results_centent{
	overflow: auto;
}

.leftbottom_box2 textarea{
	width: 86%;
	margin-left: 10%;
	margin-top: 4%;
	height: 60%;
	background-color: white;
	border: none;
	resize: none;
	font-family: inherit;
}
.delete_icon{
	cursor: pointer;
	/*width: 30px;*/
	/*height: 30px;*/
	position: absolute;
	top: -6px;
	right: -6px;
}
.delete_icon img{
	width: 100%;
}
@media (max-width: 1500px) {
	.centent_text{
		font-size: 16px;
	}
}

@media (max-width: 1300px) {
	.centent_text{
		font-size: 14px;
	}
}
.upgrade_box{
	width: 100%;
	height: 20px;
	text-align: center;
	margin-top: 2%;
}
.upgrade_minbox{
	width: 82px;
	height: 20px;
	margin: auto;
}
.upgrade_icon,.upgrade_text{
	font-size: 14px;
	float: left;
}
.upgrade_text a{
	color: white;
	margin-left: 5px;
}
.upgrade_text a:hover{
	color:blue;
}
