<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>个人图库管理</title>
		<!--<script type="text/javascript" src="../js/lib/jquery.min.js"></script>-->
		<!--<script type="text/javascript" src="../js/information.js"></script>-->
		<link rel="stylesheet" href="../css/information.css" />
		<!--<script src="../js/lib/vue.js"></script>-->
		<!--<script src="../js/person-gallery.js"></script>-->
	</head>

	<body>
		<!--导航条-->
		<div class="left_nav">
			<div class="logo">
				<a href="../"><img src="../img/information/logo.png"></a>
			</div>
			<ul class="nav_ul">
				<li>
					<a href="personInfo">
						<div class="icon_box"><img src="../img/information/icon1.png" /></div>
						<div class="icon_text">个人信息</div>
					</a>
				</li>
				<li>
					<a href="setMeal">
						<div class="icon_box"><img src="../img/information/icon2.png" /></div>
						<div class="icon_text">套餐购买</div>
					</a>
				</li>
				<li class="active">
					<a href="gallery-demo">
						<div class="icon_box"><img src="../img/information/icon5_1.png" /></div>
						<div class="icon_text">图库管理</div>
					</a>
				</li>
				<!--<li>-->
					<!--<a href="record">-->
						<!--<div class="icon_box"><img src="../img/information/icon6.png" /></div>-->
						<!--<div class="icon_text">使用记录</div>-->
					<!--</a>-->
				<!--</li>-->
			</ul>
			<div class="home_box">
				<div class="left_icon">
					<div class="home_img"><img src="../img/information/home.png" /></div>
					<div class="home_text">
						<a href="../">主页</a>
					</div>
				</div>
				<div class="right_icon">
					<div class="home_img"><img src="../img/information/out.png" /></div>
					<div class="home_text">
						<a href="exit">退出登录</a>
					</div>
				</div>
			</div>
		</div>
		<div class="right_content" id="person-gallery">
			<div class="max_box">
				<div class="left_box">
					<div class="lefttop_box">
						<div class="administer_upload">
							<div class="administer_imgbg">
								<div id="imgShowDiv" class="administer_imgbox">
									<img id="imgShow" src="../img/information/max_img1.png" />
								</div>
							</div>
							<div class="contrast_btn">
								本地上传
								<input @change="myLibSearchUpload($event.target)"
                                       accept="image/png,image/jpeg" class="contrast_file" type="file" value="本地上传">
							</div>
							<div class="upload_text">
								<input class="upload_mintext" id="myLibSearchInputUrl" type="text" placeholder="请输入图片URL" />
								<div class="detect_btn" @click="myLibSearchUrl">检测</div>
							</div>
							<div class="detect_minimg">
								<div class="detect_fiveimg" reveal_sign="width"><img class="img_active" @click="myLibSearchReq($event.target)" src="http://192.168.10.212:8080/img/information/max_img1.png"></div>
								<div class="detect_fiveimg" reveal_sign="width"><img @click="myLibSearchReq($event.target)" src="http://192.168.10.212:8080/img/information/max_img2.png"></div>
								<div class="detect_fiveimg" reveal_sign="width"><img @click="myLibSearchReq($event.target)" src="http://192.168.10.212:8080/img/information/max_img3.png"></div>
								<div class="detect_fiveimg" reveal_sign="width"><img @click="myLibSearchReq($event.target)" src="http://192.168.10.212:8080/img/information/max_img4.png"></div>
								<div class="detect_fiveimg" reveal_sign="width"><img @click="myLibSearchReq($event.target)" src="http://192.168.10.212:8080/img/information/max_img5.png"></div>
							</div>
						</div>
					</div>
					<div class="leftbottom_box">
						<div class="results_box">对比结果</div>
						<div  class="results_centent" id="searchResult"></div>
					</div>
                    <div class="rightbottom_box">
                        <!--<div class="results_box">搜索结果</div>-->
                        <div id="resultShow" class="results_centent">
                        </div>
                    </div>
				</div>
				<div class="right_box">
					<div class="lefttop_box2">
						<div class="administer_box">
							<div class="administer_top">
								<div class="toptitle_box">
									<!--<div @click="getMyGallery" class="top_font">管理我的图库</div>-->
									<div class="top_font">管理我的图库</div>
								</div>
							</div>
							<div class="administer_middle">
                                <div id="picPreload">
                                    <#if galleryDemo??>
                                        <#list galleryDemo as item>
                                            <div class="administer_img" id="${item.id}par">
                                                <img src="${item.normalized}" />
												<div class="delete_icon"><img v-on:click="deleteMyGallery($event.target)" v-bind:alt="${item.id}" id="${item.id}" src="../img/information/delete.png"/></div>
                                            </div>

                                        </#list>
                                        <#else>no image
                                    </#if>
                                </div>

                                <template v-for="todo in todos">
										<div class="administer_img">
											<img v-bind:src="todo.normalized" />
											<div class="delete_icon"><img v-on:click="deleteMyGallery($event.target)"   v-bind:alt="todo.id" src="../img/information/delete.png"  v-on:click="deleteMyGallery($event.target)"/></div>
										</div>
                                </template>

							</div>
							<div class="administer_bottom">
								<div class="contrast_btn2">
									本地上传
									<input  @change="myLibUploadInput($event.target)"
                                            accept="image/png,image/jpeg" id="myLibUpload" class="contrast_file2" type="file" value="本地上传">
								</div>
								<div class="upload_text2">
									<input id="myLibUrlInput" v-model="myLibUrl" class="upload_mintext2" type="text" placeholder="请输入图片URL" />
									<div @click="myLibUrlCheck"  class="detect_btn2">检测</div>
								</div>
							</div>
						</div>
					</div>
					<div class="leftbottom_box2">
						<div class="results_box">Response JSON</div>
						<textarea id="reponse" disabled="disabled">
									</textarea>
					</div>
				</div>
			</div>
		</div>
	</body>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/information.js"></script>
    <script src="../js/lib/vue.js"></script>
    <script src="../js/person-gallery.js"></script>
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
</html>